:root {
  --black: #000;
  --carbon: #333;
  --white: #fff;
  --celeste: rgb(166 250 255 / 10%);
  --celeste2: rgb(233 254 255);
  --celeste-opacity-1: rgb(166 250 255 / 100%);
  --davys-grey: #4A4A4A;
  --gray: #bfbfbf;
  --affen-turquoise: rgb(166 250 255 / 20%);
  --minified-mauve: #F3F5F7;
  --big-ocean-wave: #356B8E;
  --lagoon-blue: #7FA5B5;
  --ashton-skies: #6A8DA7;
  --pink: #F5B6F6;
  --jetbrains-font-family: 'JetBrains Mono', monospace;
}